body {
    background: rgb(14, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

h1{
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    margin: 0;
    margin-top: 25px;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size:medium;
    font-style: italic;
    margin: 0;
    padding-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.main-square {
    transform: scale(75%);
}


.row {
    width:auto;
    display: flex;
}

.letter-square {
    width: 75px;
    height: 75px;
    margin: 3px;
    background-color: transparent;
    border: 2px solid #454545;
    border-radius: 5px;
}

.letter {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 75px;
    text-align: center;
    font-weight: bold;
}

/* #locked{
    animation: flip 1s ease-out;
} */

#check, #message-log{
    margin: 3.5px; 
}

#message-container{
    flex-grow: 0;
    z-index: 4;
    /* display: flex; */
    /* justify-content: flex-start;
    align-items:flex-start; */
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#message-log{
    background: #ffffff;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

#gameover-log{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    width: fit-content;
}

@keyframes flip {
    0% {transform: rotateY(0deg);}
    50%{transform: rotateY(90deg);}
    100%{}
}

@keyframes rise {
    10% {transform: translateY(-10px);}
    40%{transform: translateY(0px);}
    100%{}
}

@keyframes wiggle {
    10% {transform: translateX(-5px);}
    20%{transform: translateX(5px);}
    30%{transform: translateX(-5px);}
    40%{transform: translateX(5px);}
    50%{transform: translateX(-5px);}
    60%{transform: translateX(5px);}
}

@keyframes bounce-in {
    10% {transform: scale(90%);}
}

@keyframes bounce-out {
    10% {transform: scale(110%);}
}

#buttons{
    position: fixed;
    bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #1c2124;
    border-radius: 10px; */
}

.button-rows{
    display: flex;
    flex-direction: row;
}

.button{
    background: #50656e;
    width: 25px;
    height: 40px;
    padding: 10px;
    margin: 3px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.custom{
    width: 50px;
}