body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

h1{
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 10px;
    margin: 0;
    margin-top: 25px;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: larger;
    font-style: italic;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}


.row {
    width:auto;
    display: flex;
}

.letter-square {
    width: 75px;
    height: 75px;
    margin: 3px;
    background-color: transparent;
    border: 2px solid #454545;
    border-radius: 5px;
}

.letter {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3em;
    line-height: 75px;
    text-align: center;
    font-weight: bold;
}

/* #locked{
    animation: flip 1s ease-out;
} */

#check, #message-log{
    margin: 3.5px; 
}

#message-container{
    flex-grow: 0;
    z-index: 4;
    /* display: flex; */
    /* justify-content: flex-start;
    align-items:flex-start; */
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#message-log{
    background: #ffffff;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

#gameover-log{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    width: fit-content;
}

@keyframes flip {
    0% {transform: rotateY(0deg);}
    50%{transform: rotateY(90deg);}
    100%{}
}

@keyframes rise {
    10% {transform: translateY(-10px);}
    40%{transform: translateY(0px);}
    100%{}
}